{% extends "base.html" %}

{% block title %}
Shafira Ishlah
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
body{
    /* background: linear-gradient(to right, #ccffff, #ffccff);  */
    /* background-color: #ff3385; */
    background-image: linear-gradient(#ff80df, #d580ff);
}
#myInput{
    background-image: url('https://img.icons8.com/cotton/50/000000/search.png');
    background-position: right;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.container-pojok {
    position: relative;
}

.pojok-kanan {
    position: absolute;
    right: 2em;
    top: 1em;
}
</style>

<div class="container">
    <div class="panel text-center container-pojok">
        <span class="invisible">0</span>
        <div>
        <!-- <img class="big-star mb-2" style="align-content: center;align-items: center" src="https://i.imgur.com/SPTSn8Y.png"/> -->
        <!-- <br> -->
        
        <!-- <span id="favourite_count" style="text-align: center;align-content: center;align-items: center">0</span><br/> -->
        <h1 class="fa fa-star"  style="text-align: center;align-content: center;align-items: center;padding-bottom: 1vw;font-size:56px;color:#ffd633;padding-left: 15vw;margin-top: 0.cm" id ="favourite_count" >    : 0</h1>
        <br>
        <br>
        </div>
    
        <div class="d-none d-lg-block pojok-kanan text-right">
            {% if user.is_authenticated %}
            <img src="{{ request.session.image_url }}"><br/>
                <span class="teks-besar"><strong>Welcome, {{ user.first_name }} ! </strong></span><br/>
                <a role="button" href="/logout/"
                class=" btn btn-outline-danger btn-danger">Logout</a>
                <br>
                <br>
                <br>
            {% else %}
                <br>
                <a role="button" href="/login/"
                class="mt-3 mr-4  btn btn-danger">Login</a>
            {% endif %}
        </div>
        <div class="d-lg-none">
            {% if user.is_authenticated %}
            <img src="{{ request.session.image_url }}"><br/>
                <span class="teks-besar"><strong>Welcome, {{ user.first_name }} !</strong></span><br/>
                <br>
                <br>
                <a role="button" href="/logout/"
                class="btn btn-dangerr">Logout</a>
            {% else %}
                <br>
                <a role="button" href="/login/"
                class="btn btn-danger">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="panel p-2">
        <br>
        <br>
        <h1 class="text-center">List of Books</h1>
        <br>

        <div class="input-group mb-3">
            <input type="text" class="form-control" style="text-align: center" placeholder="Search your book here..." aria-label="Kategori" aria-describedby="button-kategori" id="kategori">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-kategori" onclick="searchCategory()">Cari</button>
            </div>
        </div>
        
        <table class = "table table-striped table-light table-hover table-bordered table-responsive" >
            <thead>
            <tr>
                <th scope="col" style="text-align:center">#</th>
                <th scope="col" style="text-align:center">Cover</th>
                <th scope="col" style="text-align:center">Title</th>
                <th scope="col" style="text-align:center">Author</th>
                <th scope="col" style="text-align:center">Publisher</th>
                <th scope="col"style="text-align:center">Favorite</th>
            </tr>
            </thead>
            <tbody id="content">
            </tbody>
        </table>
    
</div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}
